@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root{
    --primary-color:#3e74e8;
    --secondory-color:#f0f1f2;

}

*{
    margin: 0px 2rem;
}

body{
    font-family: 'Raleway', sans-serif;

}
.nav{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1.5rem;
    
}
.nav>h2{
    padding-top: 1rem;
    padding-left: 1rem;
    color: white;
}
.links{
    text-align: right;
    padding-bottom: 1rem;
    
   
}
.links>a{
    margin: 0px 0.5rem;
    color: white;
}
.resume-image{
    max-width: 600px;
    border: solid black;
    margin: 2rem;
}
.resume{
    text-align: center;
}
.resume>h3{
    font-size: large;
    
}
span{
    margin-left: 0.2rem;
    color: var(--primary-color);
}
.image{
    width: 4rem;
}

footer{
    background-color: var(--primary-color);
    padding: 2rem;
    border-top-left-radius: 1.5rem;
    margin-top:  2rem;
    text-align: center;
    color: white;
}
.links a:hover{
    text-decoration:overline;
}
